.logo {
background-image:image-url(logo.png);
height:128px;
margin:40px auto;
width:320px;
}

#error_explanation ul li {
color:#e46f6f;
font-size:14px;
}

.center-text {
text-align:center;
}

h2 {
color:#717171;
font-size:14px;
text-align:center;
text-shadow:0 1px 0 #FFF;
}

body {
background-color:#7a6d98;
margin:0;
padding:0;
}

.container {
margin:0 auto;
min-height:400px;
width:1030px;
}

.footer {
color:#FFF;
font-family:int, sans-serif;
font-size:30px;
margin:75px auto 35px;
text-align:center;
text-shadow:1px 1px rgba(0,0,0,0.3);
width:900px;
}

a {
color:#717171;
font-family:sans-serif;
font-size:12px;
}

.p,label {
color:#717171;
}

input[type = submit] {
-moz-box-shadow:inset 0 1px 0 0 #7a8eb9;
-webkit-box-shadow:inset 0 1px 0 0 #7a8eb9;
background:linear-gradient(tobottom,#637aad5%,#5972a7100%);
background-color:#637aad;
border:1px solid #314179;
box-shadow:inset 0 1px 0 0 #7a8eb9;
color:#fff;
cursor:pointer;
display:block;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad',endColorstr='#5972a7',GradientType=0);
font-family:arial;
font-size:13px;
font-weight:700;
margin:15px auto 7px;
min-width:120px;
padding:6px 12px;
text-decoration:none;
}

.login {
margin-left:70px!important;
}

.logout {
background-color:#FF0;
border-radius:0 0 3px 3px;
color:#FFF;
margin-left:10px;
width:60px;
}

input[type = submit]:hover {
filter:alpha(opacity=90);
opacity:0.9;
}

.button-lef input[type = submit] {
margin:0 0 0 10px;
}

.flash {
background-color:#e9e182;
border:1px solid #ffff98;
color:#81744c;
height:30px;
line-height:30px;
margin:10px auto;
text-align:center;
width:400px;
}

input[type = email],input[type = password] {
border:1px solid #bdbdbd;
margin:3px 0 5px;
padding-left:5px;
width:289px;
}

.devise_box {
background-color:#dedae5;
border-top:1px solid #FFF;
box-shadow:0 2px 1px rgba(0,0,0,0.2);
margin:0 auto;
padding:10px;
width:300px;
}

.title-h {
color:#FFF;
font-family:int, sans-serif;
font-size:60px;
font-weight:400;
line-height:65px;
margin-bottom:20px;
text-align:center;
text-shadow:1px 1px rgba(0,0,0,0.5);
}

.button-3 {
-moz-box-shadow:inset 0 1px 0 0 #a4ff70;
-webkit-box-shadow:inset 0 1px 0 0 #a4ff70;
background:linear-gradient(tobottom,#3db34b5%,#31a63f100%);
background-color:#3db34b;
border:1px solid #3a6621;
box-shadow:inset 0 1px 0 0 #a4ff70;
color:#fcfffc;
display:block;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3db34b',endColorstr='#31a63f',GradientType=0);
font-family:Arial;
font-size:12px;
font-weight:700;
margin:0 auto;
padding:6px 12px;
position:relative;
text-decoration:none;
width:75px;
z-index:2;
}

textarea {
resize:none;
}

textarea:focus {
border:solid #CCC 1px;
outline:none;
}

.backicon a {
color:#FFF!important;
font-family:sans-serif;
font-size:15px;
text-decoration:none;
text-shadow:0 1px 2px rgba(0,0,0,0.5);
}

.nt-text {
bottom:12px;
position:absolute;
}

.clear {
clear:both;
height:100px;
width:100px;
}

.note-card {
background-color:#FFF;
box-shadow:0 2px 2px rgba(0,0,0,0.3);
color:#7e7e7e;
float:left;
font-family:sans-serif;
font-size:14px;
margin:25px 0 10px 20px;
min-height:200px;
overflow:auto;
padding:15px;
position:relative;
width:290px;
}

.lhs {
color:silver;
float:left;
font-family:sans-serif;
font-size:14px;
margin-left:18px;
margin-top:11px;
}

.sblue {
color:#3CF!important;
}

.sblue a {
color:#3CF!important;
font-family:sans-serif;
font-size:14px;
text-decoration:none;
}

.sblue a:hover {
opacity:0.6;
}

.submit-right {
background:none!important;
background-color:#7bc576!important;
border-bottom:3px solid #63ac5f!important;
border-left:none!important;
border-radius:3px;
border-right:none!important;
border-top:1px solid #71b66d!important;
box-shadow:none!important;
float:right;
font-size:15px!important;
margin-right:15px!important;
margin-top:2px!important;
min-width:80px!important;
text-shadow:0 0 1px green!important;
}

.white-box {
background-color:#F0F0F0;
border-bottom:1px solid #686868;
border-radius:3px;
border-top:1px solid #FFF;
height:310px;
margin:20px auto;
width:900px;
}

.ip {
background-color:#FFF;
border:1px solid #d8d8d8;
border-radius:2px;
color:#7E7E7E;
font-family:sans-serif;
font-size:16px;
height:240px;
margin:11px 0 0 13px;
padding:5px;
width:860px;
}