.logo{
	height: 128px;
	width: 320px; 
	margin:14px auto 20px;
	text-align: center;
	a{
		color:#FFF;
		font-family:int, sans-serif;
		font-size:136px;
		font-weight:400;
		line-height:133px;
		text-shadow:1px 1px rgba(0,0,0,0.5);
		margin-left: -3px;
	}
	>a>.yellow {
		color:yellow;
	}
}

@media all and (max-width: 400px) {
	.logo a {
		font-size: 80px!important;
	}
	.logo {
		width: 100%; 
	}
}

@media all and (max-width: 500px) and (min-width: 400px) {
	.logo a {
		font-size: 100px!important;
	}
}


@font-face
{
font-family: 'int';
src: url(font_path('int.ttf'));
}