.logo{
	height: 128px;
	width: 320px; 
	margin:14px auto 20px;
	a{
		color:#FFF;
		font-family:int, sans-serif;
		font-size:136px;
		font-weight:400;
		line-height:133px;
		text-shadow:1px 1px rgba(0,0,0,0.5);
	}
	>a>.yellow {
		color:yellow;
	}
}

@media all and (max-width: 500px) {
	.logo {
		font-size: 100px;
	}
}

@font-face
{
font-family: 'int';
src: url(font_path('int.ttf'));
}