

#error_explanation ul li {
color:#e46f6f;
font-size:14px;
}

.center-text {
text-align:center;
}

h2 {
color:#717171;
font-size:14px;
text-align:center;
text-shadow:0 1px 0 #FFF;
}

body {
background-color:#7a6d98;
margin:0;
padding:0;
}

.footer {
color:#FFF;
font-family:int, sans-serif;
font-size:30px;
text-shadow:1px 1px rgba(0,0,0,0.3);
width:900px;
margin:0 auto;
text-align:center;
}



.footer ul{
	width:270px;
	margin: 10px auto;
	list-style: none;
	height: 10px;
	padding: 0;
}

.footer ul li a {
	float: left;
	width: 90px;
	font-family: sans-serif;
	font-size: 14px;
	margin-bottom: 20px;
}


.footer a {
color:#FFF;
font-family:int, sans-serif;
font-size:30px;
text-shadow:1px 1px rgba(0,0,0,0.3);
}

@media all and (max-width: 1070px) {
	.footer {
		width: 80%;
	}
}

a {
color:#717171;
font-family:sans-serif;
font-size:14px;
text-decoration:none;
}

.p,label {
color:#717171;
}



input[type = submit] {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;


	background:none;
	border:none;
	background-color:#7bc576;
	border-bottom:3px solid #63ac5f;
	border-top:1px solid #71b66d;
	color:#fff;
	cursor:pointer;
	display:block;
	font-family:arial;
	font-size:15px;
	font-weight:700;
	min-width:120px;
	padding:6px 12px;
	text-decoration:none;
	border-radius:3px;
	margin: 5px auto;
	min-width:80px;
	text-shadow:0 0 1px green;
}

input[type = submit].new-note-save {
	float:right;
	margin:6px 15px 0 0;
}

@media all and (max-width: 744px) {
	.actions {
		text-align: center;
		width: 100%;
	}
	input[type = submit] {
		display: inline-block;
	}

	input[type = submit].new-note-save {
		float:none;
		margin:0;
	}
}

.login {
margin-left:70px!important;
}



.logout {
background-color:#fff;
border-radius:0 0 3px 3px;
color:#777;
margin-left:10px;
width:auto;
display: inline-block;
padding:5px 15px;
font-weight:bold;
text-decoration:none!important;
text-align:center;
}

input[type = submit]:hover {
filter:alpha(opacity=90);
opacity:0.9;
}

.button-lef input[type = submit] {
margin:0 0 0 10px;
}

.flash {
background-color:#fff;
border:1px solid #ffff98;
color:#717171;
height:30px;
line-height:30px;
text-align:center;
width:400px;
position:absolute;
left:50%;
margin-left:-200px;
top:0;
border-radius:0 0 3px 3px;
font-weight:bold;
font-family:sans-serif;
}

input[type = email],input[type = password] {
border:1px solid #bdbdbd;
margin:3px 0 5px;
padding-left:5px;
width:289px;
}

.devise_box {
background-color:#dedae5;
border-top:1px solid #FFF;
box-shadow:0 2px 1px rgba(0,0,0,0.2);
margin:0 auto;
padding:10px;
width:300px;
border-radius:10px;
}

.title-h {
color:#FFF;
font-family:int, sans-serif;
font-size:60px;
font-weight:400;
line-height:65px;
margin-bottom:20px;
text-align:center;
text-shadow:1px 1px rgba(0,0,0,0.5);
}



.button-3 {
-moz-box-shadow:inset 0 1px 0 0 #a4ff70;
-webkit-box-shadow:inset 0 1px 0 0 #a4ff70;
background:linear-gradient(to bottom,#3db34b 5%,#31a63f 100%);
background-color:#3db34b;
border:1px solid #3a6621;
box-shadow:inset 0 1px 0 0 #a4ff70;
color:#fcfffc;
display:block;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3db34b',endColorstr='#31a63f',GradientType=0);
font-family:Arial;
font-size:12px;
font-weight:700;
margin:0 auto;
padding:6px 12px;
position:relative;
text-decoration:none;
width:75px;
z-index:2;
}

textarea {
resize:none;
}

textarea:focus {
border:solid #CCC 1px;
outline:none;
}

.backicon a {
color:#FFF!important;
font-family:sans-serif;
font-size:15px;
text-decoration:none;
text-shadow:0 1px 2px rgba(0,0,0,0.5);
}

.nt-text {
bottom:12px;
position:absolute;
}

.clear {
clear:both;
height:100px;
width:100px;
}

.container {
margin:0 auto;
min-height:400px;
}

@media all and (max-width: 500px) {
	.container {
		width:90%;
	}
}

@media all and (max-width: 744px) and (min-width: 501px) {
	.container {
		width:352px;
	}
}
@media all and (max-width: 1070px) and (min-width: 745px) {

  	.container {
		width:705px;
	}
}
@media all and (min-width: 1070px) {
    .container {
		width:1030px;
	}
}


.note-card {
background-color:#FFF;
box-shadow:0 2px 2px rgba(0,0,0,0.3);
color:#7e7e7e;
font-family:sans-serif;
font-size:14px;
margin:20px 0 10px 20px;
min-height:200px;
overflow:auto;
padding:15px;
width:290px;
position:relative;
}

.note-card.sent-by {
	background-image: url('/assets/blueredstripes.png');
	background-repeat: repeat-x;
	padding-top: 25px;
}

.note-card.sent-by .sent-by-who {
	border-bottom: 1px solid #ccc;
	width: 100%;
	position: absolute;
	padding: 2px 0;
	text-align: center;
	color: #555;
	top:12px;
	left: 0;
	right: 0;
}

.note-card.center {
	margin: 20px auto;
	width:350px;
}

.lhs {
color:silver;
float:left;
font-family:sans-serif;
font-size:14px;
margin-left:18px;
margin-top:11px;
}
@media all and (max-width: 744px) {
	.lhs{
		margin:5px auto;
		width: 100%;
		text-align: center;
	}
}

.sblue {
color:#2db3e0!important;
}

a.sblue {
color:#2db3e0!important;
font-family:sans-serif;
font-size:14px;
text-decoration:none!important;
}

.sblue a {
color:#2db3e0!important;
font-family:sans-serif;
font-size:14px;
text-decoration:none!important;
}

.sblue a:hover {
opacity:0.6;
}



.white-box {
background-color:#F0F0F0;
border-bottom:1px solid #686868;
border-radius:3px;
border-top:1px solid #FFF;
height:310px;
margin:20px auto 50px;
width:900px;

}

.ip {
background-color:#FFF;
border:1px solid #d8d8d8;
border-radius:2px;
color:#7E7E7E;
font-family:sans-serif;
font-size:16px;
height:220px;
margin:11px 0 0 13px;
padding:15px;
width:840px;
}

@media all and (max-width: 744px) {
	.white-box{
		width: 80%;
		height:342px;
	}
	.ip{
		width:90%;
		margin:11px 0 0 2.4%;
		padding:2.5%;
	}
}
@media all and (max-width: 1070px) and (min-width: 745px) {
	.white-box{
		width: 450px;
		padding-bottom:2.5%;
	}
	.ip{
		width:90%;
		margin:11px 0 0 2.4%;
		padding:2.5%;
		
	}
}

