<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've received a scratch from <%= @from.email %>.</h1>
    <p>However you don't seem to be a user. Sign up to store scratches as well as receive them in the future. <%= link_to "Sign Up", "http://scratchapp.in/sign_up" %></p><br>
    <h3>Scratch Note:</h3>
    <p><%= simple_format(@data) %></p>
  </body>
</html>